aiohttp
aiosignal
async-timeout
attrs
certifi
charset-normalizer
frozenlist
idna
multidict
requests
urllib3
yarl
deep-translator
wikipedia
wikipedia-api
nltk
xmltodict
youtube-search-python
transformers==4.20.1
torch==1.10.2
flair
