torch==1.10.2
aiohttp
aiosignal
async-timeout
attrs
certifi
charset-normalizer
frozenlist
idna
multidict
requests
urllib3
yarl
deep-translator==1.8.3
wikipedia
wikipedia-api
nltk
xmltodict
youtube-search-python
transformers==4.20.1
python-dateutil
flair