.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: rgb(113, 178, 235);
}

body,
#root {
  margin: 0;
  padding: 0;
  background-color: #838383;
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chatbot {
  position: absolute;
  bottom: 0;
  height: 90vh;
  width: min(100%, 600px);
  margin: auto;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
}

.messages {
  background-color: #282c34;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80vh;
  overflow-y: auto;
  padding-right: 2px;
}

.chatbot::-webkit-scrollbar {
  width: 8px;
  border: none;
}

.chatbot::-webkit-scrollbar-track {
  background: #60697a;
}

.chatbot::-webkit-scrollbar-thumb {
  background-color: #6649b8;
  border-radius: 5px;
  width: 80%;
}

.message {
  display: flex;
  align-items: center;
  margin: 10px;
  min-height: 4rem;
}

.message-body {
  margin: 10px;
  border-radius: 20px;
  padding: 0 10px 0 10px;
  background-color: azure;
}

.sent {
  flex-direction: row-reverse;
}

.message-body {
  background-color: #e5e5ea;
}

.sent > .message-body {
  background-color: #0b93f6;
}

.avatar > img {
  width: 30px;
  height: 30px;
  margin: auto;
}

.messages-list {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80vh;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end; */
}

.chatbot > form {
  position: fixed;
  bottom: 0;
  display: flex;
  width: inherit;
  background-color: aquamarine;
  align-items: stretch;
  margin: 0;
  height: 10vh;
}

.message-field {
  flex-grow: 1;
  background-color: rgb(58, 58, 58);
  border: none;
  padding: 20px;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(130, 165, 211);
  width: 70%;
}

.message-field:focus {
  border: none;
  outline: none;
}

.form-btn {
  color: silver;
}

.voice-btn,
.send-btn {
  flex-grow: 1;
  background-color: rgb(56, 56, 143);
  border: none;
  border-left: 2px solid black;
  max-width: 80px;
  min-width: 60px;
  flex-basis: 40px;
  width: 15%;
}

.voice-btn:active,
.send-btn:active {
  background-color: rgb(99, 0, 192);
}

#end-link {
  width: 2rem;
  height: 2rem;
  background-color: rgb(30, 27, 59);
  border-radius: 50%;
  position: fixed;
  right: 40px;
  top: 12vh;
  z-index: 2;
  display: grid;
  justify-content: center;
  align-items: center;
  color: rgb(99, 0, 192);
}

.invisible {
  display: none !important;
}

.navbar {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 10vh;
  z-index: 2;
  /* margin: auto; */
  display: flex;
  flex-direction: row;
}

.logo {
  justify-self: start;
}

.navlist {
  margin-left: auto;
}

.navlist > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-element {
  /* border: solid 1px #ccc; */
  border-radius: 5px;
  display: grid;
  align-items: center;
  justify-content: center;
  min-width: 6rem;
  margin: 1rem;
  background-color: rgb(99, 0, 192);
  color: white;
  cursor: pointer;
}

.form-body {
  margin: 10px;
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.contained {
  margin-left: 0.2rem;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: small;
}

.data_input {
  border-radius: 5px;
  height: 1.5rem;
  padding-left: 10px;
  background-color: rgba(56, 56, 143, 0.322);
  border: 1px solid rgba(56, 56, 143, 0.322);
}

.data_submit {
  margin-top: 10px;
  height: 1.8rem;
  border: 1px solid rgba(56, 56, 143, 0.322);
  border-radius: 5px;
  font-weight: bold;
  background-color: rgba(106, 20, 185, 0.582);
}

.data_submit:active,
.form-choose-btn:active {
  background-color: rgb(95, 22, 163);
  color: white;
}

.form-choose-btn {
  font-size: x-small;
  color: rgb(58, 58, 58);
  border: 1px solid rgb(95, 22, 163);
}

.hidden {
  opacity: 0;
}

.card-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #0b93f6;
}

.card-container:hover {
  background-color: #a2d8ff;
}

.card-chosen {
  background-color: #e1e1e1;
}

.card-main {
}

.card-title {
  font-size: larger;
  margin-top: 0;
}

.card-side-info {
}

.card-description {
}

a {
  text-decoration: none;
  color: inherit;
}

h5 {
  margin: 0;
  text-align: center;
}
